.v-banner .v-banner__wrapper {
	border-bottom: none !important;
}

.v-image {
	&.hover {
		.v-image__image {
			transform: scale(1);
			transition: transform 0.3s linear;
		}
		&:hover {
			.v-image__image {
				transform: scale(1.2);
			}
		}
	}
}
.v-card {
	&__text {
		.card-title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

a {
	text-decoration: none;
}
